<ion-view view-title="Home">
  <ion-content>
    <h3 class="home_text">News App</h1>
    <h4 class="home_text_2">Select a topic from the left menu</h2>
    <p class="home_text_3">This awesome app has no commercial intents. It has been developed just for fun ;) It uses XML & JSON newsfeeds (from reddit.com and hurriyet.com.tr) and list the news in a mobile-friendly, good looking layout.</p>
    <p class="home_text_5">App built with AngularJS using Ionic Framework</p>
    <p class="home_text_5 mb-4">by Mustafa Cakir</p>

    <p class="text-center"><img src="img/star_wars.gif"><br>
    <i style="font-size:10px;">Credit: Star Wars, 'Little Darth Vader'. May the force be with you!</i></p>

  </ion-content>
</ion-view>
